* {
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom , black, grey);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
}


.gets-body {
    background-image: linear-gradient(to right top, black, grey);
    color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

.gets-body img {
    height: 100px;
}

.logo h3 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    display: flex;
    font-style: normal;
    position: relative;
    top: 35px;
    right: 15px;
    height: 30px;
    color: gold;
  }

.form {
    position: relative;
    top: 130px;
    margin: 0px 30px;
}

.navigation {
    color: grey;
    position: relative;
    
}

.gets-signin {
    position: relative;
}

.gets-signin input {
    background-color: transparent;
    box-shadow: none;
    padding-left: 10px;
    border: 1px solid grey;
    margin-bottom: 20px;
    border-radius: 10px;
    width: calc(100% - 15px);
    height: 40px;
    color: rgb(185, 185, 185);
}

.gets-password {
    position: relative;    
}

.gets-password input {
    background-color: transparent;
    box-shadow: none;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: calc(100% - 15px);
    height: 40px;
    color: rgb(185, 185, 185);
}